
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update Product</title>
  <link rel="stylesheet" href="/public/css/admin/addProduct.css">
</head>
<body>
  <h1>Update Product</h1>
  <form action="/admin/updated/<%= pd._id %>" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required value="<%=pd.name %>">
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required><%=pd.description %></textarea>
    <br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required value="<%= pd.price %>">
    <br>
    <label for="image">Image:</label>
    <input type="file" id="image" name="image" accept="image/*" required>
    <br>
    <button type="submit">save</button>
    <button type="submit"><a href="/admin/show">Back to Show collections</a></button>
    <!-- <button type="submit"><a href="/admin/logout">Logout</a></button> -->



  </form>
</body>
</html>
