<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
        <link rel="stylesheet" href="/public/css/user/signup.css">
    </head>
    <body>
        
        <main class="main">
            <div class="maind">
                <h1>login</h1>
                <form action="/user/login" class="form" method="post">
                   <div class="one">
                        <label for="">Email :</label>
                        <input type="email" name="email" id="mail" placeholder="email">
                   </div>
                    <div class="one">
                        <label for="">Password</label>
                        <input type="password" name="pass" id="pass" placeholder="Password">
                    </div>
                    <button type="submit" onclick="loginsubmit(event)">login</button>
                </form>
                <div class="para">
                    <p  style="color: red;" id="submission"></p>
                    <p >don'nt have account.<a href="/user/signup">please sign up</a></p>
                </div>
            </div>
        </main>
        
        <script src="../public/javascript/login.js"></script>
    </body>
    </html>
    
</body>
</html>