<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>User Profile</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-picture {
    width: 100px;
    height: 100px;
    height: auto;
    /* border-bottom: 1px solid #ddd; */
}

.profile-details {
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin: 8px 0;
}

    </style>
</head>
<body>
    <div class="profile-container">
        <img class="profile-picture" src="/public/uploads/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" alt="Profile Picture">
        <div class="profile-details">
            <h1>User Name</h1>
            <p>Email: user@example.com</p>
            <p>Location: City, Country</p>
            <p>Occupation: Web Developer</p>
        </div>
    </div>
</body>
</html>
