body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.cart-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-header {
  background-color: #333;
  width: 100%;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  max-width: 80px;
  height: auto;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h3 {
  margin: 0;
  color: #333;
}

.cart-item-details p {
  margin: 0;
  color: #666;
}

.cart-total {
  text-align: right;
  padding: 15px;
  background-color: #eee;
}

.cart-actions {
  text-align: center;
  padding: 15px;
}

.cart-actions button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.cart-actions button:hover {
  background-color: #2980b9;
}
button {
  background-color: #757975;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.fm {
  display: flex;
  width: 300px;
  justify-content: space-around;
}
